# machine-specific settings files
.bashrc_local

# VIM temporary & swap files
.vim/temp/
[._]*.sw[a-p]

# VIM network r/w history
.netrwhist

# LibreOffice locks
.~lock.*#

# Linux backup files (e.g. Gedit)
*~

# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ethumbs.db
ethumbs_vista.db

# Windows folder config file
[Dd]estkop.ini

# Windows recycle bin on file shares
$RECYCLE.BIN/

# ZSH (macOS default) temp files
.zsh_history
.zsh_sessions
